 <div class="main-container">
 <div class="users-wrapper flex">
    <div class="img-cont">
      <%= image_tag @user.photo, :size => "50x50", alt: "user photo" %>
    </div>
    <div class="user-details">
      <h2><%= @user.name %></h2>
      <p>Number of posts: <%= @user.posts_counter %></p>
    </div>
 </div>

 <% @posts.each do |post| %>
   <div class="posts-enclosure">
   <div class="users-post">
       <h2><%= link_to "Post title: #{post.title}", user_post_path(@user.id, post.id), class: "link-button" %></h2>
       <p><%= post.text %></p>
       <h4>Comments: <%=post.comments_counter %>, Likes: <%= post.likes_counter %></h4>
       <%= form_with url: "/users/#{@user.id}/posts/#{post.id}/likes" do |form| %>
       <%= form.submit "Like Post" %>
       <% end %>
   </div>
   <div class="comments-cont">
     <% if post.five_recent_comments.count.zero? %>
     <p>No comments on this post yet</p>
     <% else %>
     <% post.five_recent_comments.each do |comment| %>
       <p><%= comment.author.name %>: <%= comment.text %></p>
     <% end %>
     <% end %>
   </div>
   </div>
 <% end %>

 <button class="pagination">
   <%= link_to 'Pagination', user_post_path(@user, @posts[0]) %>
 </button>
 </div>