<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-amber-100">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="flex gap-16 w-full justify-end mr-10">
      <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "link-button" %>
      <% if user_signed_in? %>
      <p class="text-green-500 mt-8">Logged in as <%= current_user.try(:name) %></p>
      <% end %>
      <% unless user_signed_in? %>
      <button>
        <%= link_to "Log in", new_user_session_path, class: "link-button"%>
      </button>
      <% end %>
      </div>
      <%= yield %>
  </body>
</html>
